@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    width: 80%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    --dunder-blue: #14374D;
    --dunder-white: #FCFCFC;
}

h1 {
    font-size: 32px;
    margin: 0px;
}

h2 {
    font-size: 24px;
    margin: 0px;
    margin: 10px 0px 10px 0px;
}

h3 {
    font-size: 18px;
    margin: 0px;
    margin: 5px 0px 5px 0px;
    font-weight: normal;
}

h4 {
    font-size: 14px;
    margin: 0px;
}

h5{
    font-size: 12px;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 768px;
    justify-items: center;
}

.container .left-section{
    display: grid;
    grid-template-rows: 300px  300px 300px;
    justify-items: center;
 }

.container .left-section img{
   width: 70%;
}


.container .right-section{
    background-color: var(--dunder-blue) ;
    color: var(--dunder-white);
    width: 500px;
    display: grid;
    grid-template-rows: 270px auto 220px;
}

.form-container{
    background-color: var(--dunder-white) ;
    color: var(--dunder-blue);
    padding: 10px 0px 10px 0px;
    margin: 0px 20px 0px 20px;
    align-items: center;
}

.form-container input{
    border: 1px solid var(--dunder-blue);
    font-size: 18px;
    width: 90%;
    height: 30px;
    margin-left: 10px;
}
.form-container button{
   background-color: var(--dunder-blue);
   color: var(--dunder-white);
   border: none;
   font-size: 18px;
   padding: 10px;
 }

.form-container .aider{
   text-align: right;
   margin: 5px 20px 5px 0px;
}

.form-container .label-aider{
    margin-left: 10px;
 }


 /* ------------------ */
 /* Landing page styles */


 .app{
     display: grid;
     grid-template-columns: 15% 85%;
 }

.grid-item{
    display: grid;
    max-width: 250px;
    background-color: var(--dunder-white);
    grid-template-rows: 210px 30px 30px;
    align-items: center;
    padding: 10px;
    color: var(--dunder-blue);
    margin: 10px;
}

.grid-item .image-box{
    justify-self: center;
 }

 .grid-item .description-box{
    align-self: center;
    justify-self: center;
 }

.grid-item .price-box{
     display: grid;
     grid-template-columns: 50% 50%;
     font-size: 18px;
     border-top: 2px solid var(--dunder-blue);
 }


 .view-area .search-bar{
   display: grid;
   grid-template-columns: 40% auto 20%;
   align-content: center;
}


.view-area{
    margin: 0px 0px 0px 10px;
}

.view-area .search-bar input{
   height: 30px;
   width: 80%;
   border: 2px solid var(--dunder-blue);
 }

.view-area .search-bar .links{
   text-align: right;
   margin: 10px 10px;
 }

.view-area .search-bar a{
    font-size: 18px;
    color: var(--dunder-blue);
    text-decoration: none;
 }

.view-area .title-bar{
    border-bottom: 3px solid var(--dunder-blue);
    font-size: 32px;
    padding: 10px 0px;
}

.view-area .product-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.view-area a{
   text-decoration: none;
}
 
.category-panel {
    display: grid;
    grid-template-rows: 100px 600px;
    background-color: var(--dunder-blue);
    color: var(--dunder-white);
}

.category-panel .logo-box{
    justify-self: center;
    align-self: center;
}

.category-panel .logo-box img{
    width: 80%;
}

.category-panel .category-box{
   font-size: 18px;
}

.category-panel .category-title{
   margin: 10px;
   cursor: pointer;
 }

 /* Product Page */

.review{
     background-color: var(--dunder-white);
     max-width: 500px;
     padding: 10px;
 }

 .review .review-title{
    border-bottom: 2px solid var(--dunder-blue);
    font-size: 18px;
    padding: 5px 0px ;
}

.review .review-subtitle{
    font-size: 14px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px 0px ;
}

.review .review-rating{
  justify-self: right;
}

.review .review-content{
    text-align: justify;    
    padding: 5px 0px;
}
  
.view-area .reviews{
    display: grid;
    grid-template-columns: 50% 50%;
}

.view-area .review-header{
    background-color: var(--dunder-white);
    width: 50%;
    margin: auto;
}

.view-area .review-header .title{
  font-size: 24px;
}

.view-area .review-header textarea{
    width: 90%;
    border: 2px solid var(--dunder-blue);
    resize: none;
}

.view-area .review-header select{
    margin: 5px;
}

.view-area .review-header button{
    margin: 5px;
    background-color: var(--dunder-blue);
    color: var(--dunder-white);
    border: none;
    height: 30px;
}

.view-area .product{
    display: grid;
    grid-template-columns: 30% auto 30%;
    border-bottom: 3px solid var(--dunder-blue);
    padding: 10px 0px;
}

.view-area .product .image-box{
    justify-self: center;
    align-self: center;
}

.view-area .product .image-box img{
    border: 2px solid var(--dunder-blue);
}

.view-area .product .product-name{
    font-size: 32px;
}

.view-area .product .product-brand, .view-area .product .product-cost, .view-area .product .product-rating {
    font-size: 18px;
    margin: 10px 0px;
}

.view-area .product button{
    margin: 10px;
    background-color: var(--dunder-blue);
    color: var(--dunder-white);
    border: none;
    height: 25px;
}

/* Search Result Page */

.search-result{
    display: grid;
    grid-template-columns: 20% auto 20%;
    max-width: 60%;
    height: 100px;
    border-bottom: 2px solid var(--dunder-blue);
    margin: 10px 0px;
    padding: 10px 0px;
}

.search-result .image-box{
   align-self: center;
   justify-self: center;
}

.search-result .image-box img{
    border: 2px solid var(--dunder-blue);
 }

 .search-result .price-rating-box{
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
 }


 .search-result .description-box{
    display: grid;
    grid-template-rows: 30% 30% 30%;
    align-items: center;
}

.search-result .product-name{
   font-size: 24px;
 }

 .search-result .product-seller{
    font-size: 14px;
}