@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:body{
 font-size: 16px;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    --dunder-blue: #14374D;
    --dunder-white: #FCFCFC;
}


 /* ------------------ */
 /* Landing page styles */


 .app{
     display: grid;
     grid-template-columns: 15% 85%;
     height: 100vh;
     margin-right: 1em;
 }

.grid-item{
    display: grid;
    max-width: 250px;
    background-color: var(--dunder-white);
    grid-template-rows: 210px 30px 30px;
    align-items: center;
    padding: 10px;
    color: var(--dunder-blue);
    margin: 10px;
}

.grid-item .image-box{
    justify-self: center;
 }

.grid-item .description-box{
    align-self: center;
    justify-self: center;
 }

.grid-item .price-box{
     display: grid;
     grid-template-columns: 50% 50%;
     font-size: 18px;
     border-top: 2px solid var(--dunder-blue);
 }

 .view-area{
    margin: 0px 0px 0px 10px;
}


.view-area .title-bar{
    border-bottom: 3px solid var(--dunder-blue);
    font-size: 32px;
    padding: 10px 0px;
}

.view-area .title-bar .store-name a{
    font-size: 2rem;
    color: var(--dunder-blue);
    text-decoration: none;
}


.view-area .product-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.view-area a{
   text-decoration: none;
}
 
.category-panel {
    display: grid;
    grid-template-rows: 100px 600px;
    background-color: var(--dunder-blue);
    color: var(--dunder-white);
}

.category-panel .logo-box{
    align-self: center;
    text-align: center;
}

.category-panel .logo-box img{
    width: 150px;
}

.category-panel .category-box{
   font-size: 18px;
}

.category-panel .category-title{
   margin: 10px;
   cursor: pointer;
 }

 .category-panel .category-title a{
    color: var(--dunder-white);
    text-decoration: none;
  }

 /* Product Page */

.review{
     background-color: var(--dunder-white);
     max-width: 500px;
     padding: 10px;
 }

 .review .review-title{
    border-bottom: 2px solid var(--dunder-blue);
    font-size: 18px;
    padding: 5px 0px ;
}

.review .review-subtitle{
    font-size: 14px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px 0px ;
}

.review .review-rating{
  justify-self: right;
}

.review .review-content{
    text-align: justify;    
    padding: 5px 0px;
}
  
.view-area .reviews{
    display: grid;
    grid-template-columns: 50% 50%;
}

.view-area .review-header{
    background-color: var(--dunder-white);
    width: 50%;
    margin: auto;
}

.view-area .review-header .title{
  font-size: 24px;
}

.view-area .review-header textarea{
    width: 90%;
    border: 2px solid var(--dunder-blue);
    resize: none;
}

.view-area .review-header select{
    margin: 5px;
}

.view-area .review-header button{
    margin: 5px;
    background-color: var(--dunder-blue);
    color: var(--dunder-white);
    border: none;
    height: 30px;
}

.view-area .product{
    display: grid;
    grid-template-columns: 30% auto 30%;
    border-bottom: 3px solid var(--dunder-blue);
    padding: 10px 0px;
}

.view-area .product .image-box{
    justify-self: center;
    align-self: center;
}

.view-area .product .image-box img{
    border: 2px solid var(--dunder-blue);
}

.view-area .product .product-name{
    font-size: 32px;
}

.view-area .product .product-brand, .view-area .product .product-cost, .view-area .product .product-rating {
    font-size: 18px;
    margin: 10px 0px;
}

.view-area .product button{
    margin: 10px;
    background-color: var(--dunder-blue);
    color: var(--dunder-white);
    border: none;
    height: 25px;
}

 /* Inventory Page */

 .view-area .store-name{
    font-size: 18px;
    margin-top: 10px;
 }


 .view-area .add-product{
    margin: auto;
    background-color: var(--dunder-white);
    padding: 10px 0px;
    border-bottom: 2px solid var(--dunder-blue);
}

 .view-area .add-product .heading, .view-area .listed-products .heading{
     font-size: 18px;
     border-bottom: 2px solid var(--dunder-blue);
     padding: 5px 0px;
 }

 .view-area .add-product-form .field{
    width: 300px;
 }

 .view-area .add-product button{
    margin: 10px 0px;
    background-color: var(--dunder-blue);
    color: var(--dunder-white);
    border: none;
    height: 25px;
 }

 .view-area .listed-products{
    margin: auto;
    background-color: var(--dunder-white);
    padding: 10px 0px;
    border-bottom: 2px solid var(--dunder-blue);
}

.view-area .product-list table{
    margin: auto;
    width: 80%;
    text-align: left;
}

.view-area .product-list tr{
    margin: 5px 5px;
}
